#btns {
  display: flex;
  flex-flow: row wrap;
  div {
    flex: 1 0 270px;
    button {
      color: $b_white_l7;
      border-radius: 6px;
      padding: 5px;
      width: 80px;
    }
  }
  div.btns-interaval button {
    background-color: $b_green_d10;
  }
  div.btns-control button {
    background-color: $b_brown_d10;  
  }
}
