#files {

  .files {
    display: flex;
  }

  .btn-files {
    background-color: $a_blue;
    color: $a_cyan_l10;
    border-radius: 6px;
    width: 100px;
    min-width: 100px;
    margin-right: 5px;
    padding: 6px;
    cursor: pointer;
  }

  .field-files {
    background-color: $a_cyan;
    flex: 1 1 auto;
    border: 0.5px solid $a_blue;
    padding: 6px;
    position: relative;
  }

  .btn-save {
    background-color: $a_blue;
    border-radius: 4px;
    padding: 0;
    width: 30px;
    img {
      max-width: 100%;
      height: auto;
      margin: 0;
    }
  }



  .progress {
    background-color: $a_blue;
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.3;
  }

}
