#info {
  display: flex;
  border: 0.5px solid $a_blue;
  div {
    flex: 1 1 270px;  // 270px определено экспериментально - просто чтобы поровну
    padding: 5px;
    overflow: auto;
  }
  .mid-border {
    border-left: 0.5px solid $a_blue;
  }
  .td-border {
    border-left: 0.5px solid $a_blue;
  }
}
