#txt {
  padding: 5px;
  overflow-y: scroll;
  color: $a_cyan_d30; // для всех других span

  #blank-txt {
    background-color: $a_cyan_d30;
    color: $a_cyan_l14;
  }
  #add-txt {
    color: black;
  }
  #delete-txt {
    background-color: darken($a_purple, 30%);
    color: $a_cyan_l14;
  }
}

#transl {
  display: none;
  padding: 5px;
  overflow-y: scroll;
  color: $a_cyan_d30; // для всех других span

  #add-transl {
    background-color: $a_cyan_d30;
    color: $a_cyan_l14;
  }
  #blank-transl {
    color: black;
  }
}

#area .area {
  border: 0.5px solid $a_blue;
  flex: 1 0 100px;
}
