#txt {
  padding: 5px;
  overflow-y: scroll;

  span {
    color: $a_cyan_d30;
  }

  #selection-txt {
    background-color: $a_cyan_d30;
    color: $a_cyan_l14;
  }

  #current-txt {
    color: black;
  }

  #last-txt {
    background-color: darken($a_purple, 30%);
    color: $a_cyan_l14;
  }

}

#transl {
  display: none;
  padding: 5px;
  overflow-y: scroll;

  span[from] {
    color: black;
  }
  #selection-transl {
    color: rgb(37, 77, 92);
    background-color: rgb(37, 77, 92);
  }
  #current-transl {
    color: black;
  }


}

#area .area {
  border: 0.5px solid $a_blue;
  flex: 1 0 100px;
}
