#btns {
  display: flex;
  flex-flow: row wrap;
  div {
    flex: 1 0 300px;
    button {
      background-color: $a_blue;
      color: $a_cyan_l10;
      border-radius: 6px;
      padding: 5px;
      width: 80px;
    }
  }
}
