#btns {
  display: flex;
}

#btns-intervals, #btns-transl {
  display: none;  // при других состояниях display = 'flex'
}



#btns, #btns-intervals, #btns-transl {
  button {
    background-color: $b_green_d10;
    color: $b_green_l30;
    border-radius: 5px;
    margin: 0 1px;
    padding: 5px 0;
    cursor: pointer;
  }
}

#btns {
  justify-content: space-between;
  .btns-group {
    display: flex;
  }

  .btns-control button {
    width: 70px;
  }
  .btns-from-to button {
    width: 47px;
  }
  .btns-from-to button.z {
    width: 30px;
  }
}

#btns-intervals, #btns-transl {
  button {
    width: 100px;
  }
}
