
/************************************
	Первая палитра
*************************************/

$a_purple: #B9A7C2;
$a_green: #B6D0C9;
$a_cyan: #C2DFEA;
$a_blue: #8C95AA;

$a_cyan_l10: lighten($a_cyan, 10%);
$a_green_l20: lighten($a_green, 20%);
$a_blue_d20: darken($a_blue, 20%);

/************************************
	Вторая палитра
*************************************/

$b_blue: #668B8A;
$b_green: #9FB083;
$b_white: #F9EED3;
$b_brown: #A47C64;

$b_white_l7: lighten($b_white, 7%);
$b_green_d10: darken($b_green, 10%);
$b_brown_d10: darken($b_brown, 10%);
