
#info {
  display: flex;
  border: 0.5px solid $a_blue;
  div {
    flex: 1 1 50px;  // 50px взято с потолка - просто чтобы поровну
    padding: 5px;
    overflow: auto;
  }
  .mid-border {
    border-left: 0.5px solid $a_blue;
  }
}
