html, body {
  height: 100%;
}

#work {
  background-color: $a_cyan_l10;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  .part {
    margin: 0px 5px 5px 5px;
  }
  #files {
    margin: 5px 5px 5px 0px;
  }
}

#files {
  //
}

#area {
  flex: 1 0 100px;
  background-color: $a_green_l20;
  display: flex;
}

#info {
  background-color: $a_green;
}

#btns {
  //background-color: $a_blue;
}
