html, body {
  height: 100%;
}

#work {
  background-color: $a_cyan_l10;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  .part {
    margin: 0px 5px 5px 5px;
  }
}

#files {
  margin: 5px;
  .files {
    margin-bottom: 3px;
    margin-top: 0px;
  }
}

#txt {
  background-color: $a_green_l20;
  border: 0.5px solid $a_blue;
  flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 100px;
}

#info {
  background-color: $a_green;
}

#btns {
  //background-color: $a_blue;
}
